extends layout.pug
append head
  link(rel="stylesheet" href="/stylesheets/delete-post-comment.css")
block content
  div.post-box
    div.container
      p.post-content=comment.content
      div
        p.confirm-msg Proceed with deleting this comment?
  div.form-container
    form.delete-comment-form(action=`/posts/${postId}/comments/${comment.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.buttons
        button(class='btn-delete' type='submit') Delete Comment
        a(href=`/posts/${postId}` class="btn-cancel") Cancel
